<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <ul class="list-unstyled three_cols">
                    <li><a href="#">Home</a></li>
                </ul>

            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</aside>
<!-- footer-widgets -->

<footer id="footer">
    <p>&copy; 2014 <a href="#"></a>.</p>
</footer>
